samplescattredgathered/src/main/app/samplescattredgathered.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="kasinath_r@yahoo.com" password="$Monday1" securityToken="io3xILWF5nf3nO0aeqydy56Lw" doc:name="Salesforce: Basic Authentication"/>
    <flow name="samplescattredgatheredFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/accountForScatter" doc:name="HTTP"/>
        <logger message="The method called is &quot; #[payload].#[message.inboundProperties.'http.method'] &quot;" level="INFO" doc:name="Logger"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT AccountNumber,AccountSource,Name,NumberOfEmployees,Site FROM Account" doc:name="Salesforce"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <scatter-gather doc:name="Scatter-Gather">
            <file:outbound-endpoint path="/Users/kasinathrout/muleProjects/scatter1" outputPattern="scatter1.xml" responseTimeout="10000" doc:name="File"/>
            <file:outbound-endpoint path="/Users/kasinathrout/muleProjects/scatter2" outputPattern="scatter2.xml" responseTimeout="10000" doc:name="File"/>
        </scatter-gather>
    </flow>
</mule>
