samplevariable/src/main/app/samplevariable.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="samplevariableFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/variable" doc:name="HTTP"/>
        <logger message="After the call" level="INFO" doc:name="Logger"/>
        <set-payload value="Success" doc:name="Set Payload"/>
        <set-variable variableName="flowVariable" value="This is flow variable" doc:name="Variable"/>
        <set-session-variable variableName="sessionVariable" value="This is session varible" doc:name="Session Variable"/>
        <logger message="The flow variable value inside flow: &quot;#[flowVars.flowVariable]&quot;" level="INFO" doc:name="Logger"/>
        <logger message="The session varible inside flow: &quot;#[sessionVars.sessionVariable]&quot;" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="/vmq" doc:name="VM"/>
    </flow>
    <flow name="samplevariableFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="/vmq" doc:name="VM"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <logger message="The flow variable value outside flow: &quot;#[flowVars.flowVariable]&quot;" level="INFO" doc:name="Logger"/>
        <logger message="The session varible outside flow: &quot;#[sessionVars.sessionVariable]&quot;" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
